@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=block");

:root {
  --color-text: #333;
  --color-font-text: #462f0e;
  --color-background-main: #eee9e3;
  --color-point: #f4a432;
  --font-lg: 32px;
  --font-md: 18px;
  --font-sm: 16px;
  --font-sx: 14px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
body {
  background-color: var(--color-background-main);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: var(--font-text-color);
  word-break: keep-all;
}
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
  color: var(--color-font-text);
}
h1,
h2,
h3,
p,
dl,
dd,
dt {
  margin: 0;
  color: var(--color-font-text);
}
a:hover,
a:active {
  font-weight: 400;
  text-decoration: none;
}

/* footer */
footer {
  padding: 20px 0;
  text-align: center;
  color: var(--color-font-text);
  font-size: var(--font-sx);
}

.mo {
  display: none;
}

@media screen and (max-width: 768px) {
  .mo {
    display: block;
  }

  footer {
    font-size: 12px;
  }
}
